@font-face {
    font-family: 'source_code_problack';
    src: font_url('sourcecodepro-black-webfont.woff2') format('woff2'),
         font_url('sourcecodepro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'source_code_problack_italic';
    src: font_url('sourcecodepro-blackit-webfont.woff2') format('woff2'),
         font_url('sourcecodepro-blackit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}