<div class='booyah-box col-10 offset-1'>
  <h1><%= @place.name %></h1>
  <h1><%= @place.address %></h1>
  <br /><br />
  <h1><%= @place.description %></h1>
  <div class="float-right">
    <%= link_to 'Edit', edit_place_path(@place), class:'btn btn-primary' %>
  </div>
</div>